# Gradle & Android Studio
local.properties
.gradle/
.externalNativeBuild/
build/
captures/
release/

.idea/
.d
gen/
*.iml

core/src/main/libs
core/src/main/obj
core/src/main/jni/overture

core/src/overture/.deps
core/src/overture/bin
core/src/overture/pkg

core/src/overture/src/github.com/Sirupsen
core/src/overture/src/github.com/mattn
core/src/overture/src/github.com/miekg
core/src/overture/src/github.com/shawn1m
core/src/overture/src/github.com/tools
core/src/overture/src/golang.org
core/src/overture/src/gopkg.in

# work in progress
tv/
things/
