classes
bin
gen
obj
target
local.properties
.classpath
.project
.settings
tests/bin
tests/gen
tests/local.properties
NUL
gen_*
*.class
*.o
local.sbt

#Intellij IDEA
*.iml
*.ipr
*.iws
.idea/
out/

#NDK
src/main/libs/armeabi/ip6tables
src/main/libs/armeabi/iptables
src/main/libs/armeabi/obfsproxy
src/main/libs/armeabi/pdnsd
src/main/libs/armeabi/polipo
src/main/libs/armeabi/redsocks
src/main/libs/armeabi/shadowsocks
src/main/libs/x86/ip6tables
src/main/libs/x86/iptables
src/main/libs/x86/obfsproxy
src/main/libs/x86/pdnsd
src/main/libs/x86/polipo
src/main/libs/x86/redsocks
src/main/libs/x86/shadowsocks
