target
local.properties
local.sbt
/proguard-sbt.txt

#Intellij IDEA
.idea/
.d
gen/

mobile/src/main/libs
mobile/src/main/obj
mobile/src/main/jni/overture

mobile/src/overture/.deps
mobile/src/overture/bin
mobile/src/overture/pkg

mobile/src/overture/src/github.com/Sirupsen
mobile/src/overture/src/github.com/mattn
mobile/src/overture/src/github.com/miekg
mobile/src/overture/src/github.com/shawn1m
mobile/src/overture/src/github.com/tools
mobile/src/overture/src/golang.org
mobile/src/overture/src/gopkg.in
