[submodule "src/main/jni/shadowsocks-libev"]
	path = src/main/jni/shadowsocks-libev
	url = https://github.com/shadowsocks/shadowsocks-libev
[submodule "src/main/jni/badvpn"]
	path = src/main/jni/badvpn
	url = https://github.com/Mygod/badvpn.git
	branch = shadowsocks
[submodule "src/main/jni/iptables"]
	path = src/main/jni/iptables
	url = https://github.com/Mygod/iptables.git
	branch = shadowsocks
