language: scala

jdk:
  - oraclejdk8

sudo: false

addons:
    apt:
        packages:
            - gcc-multilib
            - g++-multilib
            - libstdc++6:i386
            - libgcc1:i386
            - zlib1g:i386
            - libncurses5:i386

scala:
    - 2.11.8

before_cache:
    - find $HOME/.sbt -name "*.lock" | xargs rm
    - find $HOME/.ivy2 -name "*.lock" | xargs rm

cache:
    directories:
        - $HOME/.ivy2/cache
        - $HOME/.sbt/boot

install:
    - export NDK_CCACHE=ccache
    - export ARCH=`uname -m`
    - export GOROOT_BOOTSTRAP=$HOME/.android/go
    - export ANDROID_NDK_HOME=$HOME/.android/android-ndk-r12b
    - export ANDROID_HOME=$HOME/.android/android-sdk-linux
    - export PATH=${ANDROID_NDK_HOME}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools:${PATH}
    - ./.travis-setup.sh

script:
    - sbt native-build android:package-release
