<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.shadowsocks"
          tools:ignore="MissingLeanbackSupport">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/>

    <application
        android:name=".App"
        tools:ignore="MissingTvBanner">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Shadowsocks.Immersive.Navigation"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".ProfileConfigActivity"
            android:theme="@style/Theme.Shadowsocks.Immersive"
            android:excludeFromRecents="true"
            android:label="@string/profile_config"/>

        <activity
            android:name=".AppManager"
            android:label="@string/proxied_apps"
            android:parentActivityName=".ProfileConfigActivity"
            android:theme="@style/Theme.Shadowsocks.Immersive"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".UdpFallbackProfileActivity"
            android:label="@string/udp_fallback"
            android:theme="@style/Theme.Shadowsocks.Immersive"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ScannerActivity"
            android:label="@string/add_profile_methods_scan_qr_code"
            android:parentActivityName=".MainActivity"
            android:excludeFromRecents="true"/>

        <activity android:name=".tasker.ConfigActivity"
                  android:theme="@style/Theme.Shadowsocks.Immersive">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QuickToggleShortcut"
            android:label="@string/quick_toggle"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:process=":bg">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <service android:name=".bg.TileService"
                 android:label="@string/quick_toggle"
                 android:process=":bg"
                 android:directBootAware="true"
                 android:icon="@drawable/ic_service_active"
                 android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                 tools:targetApi="n">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver android:name=".tasker.ActionListener"
                  android:process=":bg"
                  android:directBootAware="true"
                  tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3283768469187309~3571758745"/>
    </application>
</manifest>
