<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.shadowsocks">

    <application android:name=".App">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Shadowsocks.Immersive.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileConfigActivity"
            android:excludeFromRecents="true"
            android:label="@string/profile_config"
            android:theme="@style/Theme.Shadowsocks.Immersive" />

        <activity
            android:name=".AppManager"
            android:excludeFromRecents="true"
            android:label="@string/proxied_apps"
            android:parentActivityName=".ProfileConfigActivity"
            android:theme="@style/Theme.Shadowsocks.Immersive" />

        <activity
            android:name=".UdpFallbackProfileActivity"
            android:excludeFromRecents="true"
            android:label="@string/udp_fallback"
            android:theme="@style/Theme.Shadowsocks.Immersive" />

        <activity
            android:name=".tasker.ConfigActivity"
            android:permission="com.joaomgcd.taskersettings.SET_SETTING"
            android:theme="@style/Theme.Shadowsocks.Immersive">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Shortcut"
            android:excludeFromRecents="true"
            android:label="@string/quick_toggle"
            android:process=":bg"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <service
            android:name=".bg.TileService"
            android:directBootAware="true"
            android:icon="@drawable/ic_service_active"
            android:label="@string/quick_toggle"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":bg"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".tasker.ActionListener"
            android:directBootAware="true"
            android:permission="com.joaomgcd.taskersettings.SET_SETTING"
            android:process=":bg"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
