<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackSupport">


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".App"
        tools:ignore="MissingTvBanner">
        <activity
            android:name=".unrealvpn.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UnrealVPN" />
        <activity
            android:name=".unrealvpn.UnrealVPNActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UnrealVPN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileConfigActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/profile_config"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Shadowsocks.Immersive" />
        <activity
            android:name=".AppManager"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/proxied_apps"
            android:launchMode="singleTask"
            android:parentActivityName=".ProfileConfigActivity"
            android:theme="@style/Theme.Shadowsocks.Immersive" />
        <activity
            android:name=".UdpFallbackProfileActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/udp_fallback"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Shadowsocks.Immersive" />
        <activity
            android:name=".ScannerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/add_profile_methods_scan_qr_code"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/Theme.Shadowsocks.Immersive" />
        <activity
            android:name=".tasker.ConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.Shadowsocks.Immersive">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuickToggleShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/quick_toggle"
            android:launchMode="singleTask"
            android:process=":bg"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <service
            android:name=".bg.TileService"
            android:directBootAware="true"
            android:exported="true"
            android:icon="@drawable/ic_service_active"
            android:label="@string/quick_toggle"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":bg"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <receiver
            android:name=".tasker.ActionListener"
            android:directBootAware="true"
            android:exported="true"
            android:process=":bg"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3283768469187309~3571758745" />
    </application>

</manifest>
