<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.shadowsocks"
    android:versionCode="106"
    android:versionName="2.6.8">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false"/>

  <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="21"/>

  <application
      android:allowBackup="true"
      android:name=".ShadowsocksApplication"
      android:hardwareAccelerated="true"
      android:icon="@drawable/ic_launcher"
      android:backupAgent=".ShadowsocksBackupAgent"
      android:label="@string/app_name">

    <meta-data android:name="com.google.android.gms.version"
                      android:value="@integer/google_play_services_version"/>
    <meta-data android:name="com.google.android.backup.api_key"
        android:value="AEdPqrEAAAAI_zVxZthz2HDuz9toTvkYvL0L5GA-OjeUIfBeXg"/>

    <activity
        android:name="com.google.android.gms.ads.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    <activity
        android:name=".Shadowsocks"
        android:label="@string/app_name"
        android:theme="@style/Theme.Shadowsocks"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ParserActivity"
        android:theme="@style/PopupTheme"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="ss"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ShadowsocksRunnerActivity"
        android:theme="@android:style/Theme.NoDisplay"
        android:launchMode="singleTask">
    </activity>

    <activity
        android:name=".AppManager"
        android:theme="@style/Theme.AppManager"
        android:label="@string/app_name"
        android:parentActivityName=".Shadowsocks">
      <intent-filter>
        <action android:name="com.github.shadowsocks.AppManager"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <service
        android:name=".ShadowsocksNatService"
        android:process=":nat"
        android:exported="false">
    </service>

    <service
        android:name=".ShadowsocksVpnService"
        android:process=":vpn"
        android:label="@string/app_name"
        android:permission="android.permission.BIND_VPN_SERVICE"
        android:exported="false">
      <intent-filter>
        <action android:name="android.net.VpnService"/>
      </intent-filter>
    </service>

    <receiver android:name=".ShadowsocksReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="com.github.shadowsocks.ACTION_UPDATE_STATE"/>
      </intent-filter>
    </receiver>

  </application>

</manifest>
