<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.shadowsocks.plugin">
    <uses-sdk
            android:minSdkVersion="19"
            android:targetSdkVersion="27"/>
    <application
            android:theme="@style/Theme.Shadowsocks">
        <meta-data android:name="com.github.shadowsocks.plugin.version"
                   android:value="0.0.4"/>
    </application>
</manifest>
